flows_ws-dff450d0-86bb-4b83-a7ec-2661178f9b3d.json
[{"id":"5b88180f.2d6e18","type":"tab","label":"helloworld","disabled":false,"info":""},{"id":"af7e8d5f.dd052","type":"tab","label":"feedparser","disabled":false,"info":""},{"id":"d74fc055.6076c","type":"http in","z":"5b88180f.2d6e18","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":190,"y":120,"wires":[["95f0a094.c51de"]]},{"id":"95f0a094.c51de","type":"template","z":"5b88180f.2d6e18","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    </head>\n<body>\n\n<h1>Hello World</h1>\n<p>My first nodered app.</p>\n\n</body>\n</html>","output":"str","x":380,"y":120,"wires":[["f6968f83.7f0b8"]]},{"id":"f6968f83.7f0b8","type":"http response","z":"5b88180f.2d6e18","name":"","statusCode":"","headers":{},"x":640,"y":120,"wires":[]},{"id":"e5b92ffb.4740b","type":"feedparse","z":"af7e8d5f.dd052","name":"espn","url":"https://www.espn.com/espn/rss/news","interval":15,"x":200,"y":160,"wires":[["1f072f7.cd904d1","936c0866.e92548"]]},{"id":"1f072f7.cd904d1","type":"debug","z":"af7e8d5f.dd052","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":160,"wires":[]},{"id":"936c0866.e92548","type":"switch","z":"af7e8d5f.dd052","name":"","property":"article.description","propertyType":"msg","rules":[{"t":"regex","v":"warriors","vt":"str","case":true},{"t":"regex","v":"golden state","vt":"str","case":true},{"t":"regex","v":"curry","vt":"str","case":true},{"t":"regex","v":"kerr","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":400,"y":280,"wires":[["1444898a.b28366"],["1444898a.b28366"],["1444898a.b28366"],["1444898a.b28366"],[]]},{"id":"174242e6.d38a3d","type":"e-mail","z":"af7e8d5f.dd052","server":"smtp.mailtrap.io","port":"2525","secure":true,"tls":true,"name":"","dname":"e-mail","x":770,"y":320,"wires":[]},{"id":"1444898a.b28366","type":"change","z":"af7e8d5f.dd052","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"aticle.description","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"article.title","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"\"RSS Alert\" <rss-alert@noreply.com>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["174242e6.d38a3d"]]}]